<div class="container">
  <% if user_signed_in? %>
    <% if @opportunity.published == false %>

      <%= render partial: "partials/form", locals: {title: "Edit Oportunity", path_variable: opportunity_path, submit_variable: "Save changes"} %>

    <% else %>
    <div class="panel-signin">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>Opportunity must be unpublished first in order to get edited</h2>
        </div>
      </div>
    </div>
    <% end %>
  <% else %>
    <div class="panel-signin">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>Nobody logged in</h2>
        </div>
      </div>
    </div>
  <% end %>
</div>
