<div class="container">
  <% if user_signed_in? %>
    <h2 class="my_opportunities">Welcome <%= current_user.name %>!</h2>
    <h2>My Opportunities</h2>
    <%= link_to 'Create Opportunity', new_opportunity_path, class: 'btn btn-info', role: 'button' %>
    <br>
    <% if @not_published_yet.length > 0 %>
      <h3>Not published yet (Waiting for approval)</h3>

      <%= render partial: "partials/opportunities_index", locals: {opportunities: @not_published_yet, button: "publish"}%>

    <% end %>
    <br>
    <% if @published.length > 0 %>
      <h3>Published</h3>

      <%= render partial: "partials/opportunities_index", locals: {opportunities: @published, button: "unpublish"}%>

    <% end %>
    <br>
  <% else %>
    <h2>Nobody logged in</h2>
  <% end %>
</div>
