<div class="container">
  <% if user_signed_in? %>

    <%= render partial: "partials/form", locals: {title: "Create Oportunity", path_variable: opportunities_path, submit_variable: "Create Opportunity"} %>

  <% else %>
    <div class="panel-signin">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>Create opportunity</h2>
        </div>
        <div class="panel-body">
          <h4>In order to publish new opportunities you have to Log in or Sign up: </h4>
          <h4><%= link_to 'Log in', new_user_session_path, class: 'btn btn-info', role: 'button' %> <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-info', role: 'button' %></h4>
        </div>
      </div>
    </div>
  <% end %>
</div>
